<app-breadcrumb
  [breadcrumb_items]="['Home', 'Shop', 'Shopping Cart']"
></app-breadcrumb>

<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table
        class="table table-light table-borderless table-hover text-center mb-0"
      >
        <thead class="thead-dark">
          <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle" id="products">
          <tr
            *ngFor="let orderItem of order.items"
            [orderData]="orderItem"
            (incQuantity)="incQuantityOf($event)"
            (decQuantity)="decQuantityOf($event)"
            (delProduct)="deleteProduct($event)"
            app-cart-item
          ></tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-30" action="">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-0 p-4"
            placeholder="Coupon Code"
          />
          <div class="input-group-append">
            <button class="btn btn-primary">Apply Coupon</button>
          </div>
        </div>
      </form>
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Cart Summary</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Subtotal</h6>
            <h6 id="sub-total">
              {{ productActionsService.getCartSubtotal() | currency }}
            </h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 id="shipping">
              {{ productActionsService.getCartShipping() | currency }}
            </h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5 id="total">
              {{ productActionsService.getCartTotal() | currency }}
            </h5>
          </div>
          <button routerLink="/checkout" class="btn btn-block btn-primary font-weight-bold my-3 py-3">
            Proceed To Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
