<!-- Price Start -->
<h5 class="section-title position-relative text-uppercase mb-3">
  <span class="bg-secondary pr-3">Filter by price</span>
</h5>
<div class="bg-light p-4 mb-30">
  <form>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        checked
        id="price-all"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: -1, max: -1 }
          })
        "
      />
      <label class="custom-control-label" for="price-all">All Price</label>
      <span class="badge border font-weight-normal">1000</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="price-1"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: 0, max: 100 }
          })
        "
      />
      <label class="custom-control-label" for="price-1">$0 - $100</label>
      <span class="badge border font-weight-normal">150</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="price-2"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: 100, max: 200 }
          })
        "
      />
      <label class="custom-control-label" for="price-2">$100 - $200</label>
      <span class="badge border font-weight-normal">295</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="price-3"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: 200, max: 300 }
          })
        "
      />
      <label class="custom-control-label" for="price-3">$200 - $300</label>
      <span class="badge border font-weight-normal">246</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="price-4"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: 300, max: 400 }
          })
        "
      />
      <label class="custom-control-label" for="price-4">$300 - $400</label>
      <span class="badge border font-weight-normal">145</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="price-5"
        (change)="
          changePriceFilters.emit({
            event: $event,
            priceRange: { min: 400, max: 500 }
          })
        "
      />
      <label class="custom-control-label" for="price-5">$400 - $500</label>
      <span class="badge border font-weight-normal">168</span>
    </div>
  </form>
</div>
<!-- Price End -->

<!-- Color Start -->
<h5 class="section-title position-relative text-uppercase mb-3">
  <span class="bg-secondary pr-3">Filter by color</span>
</h5>
<div class="bg-light p-4 mb-30">
  <form>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        checked
        id="color-all"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'all'
          })
        "
      />
      <label class="custom-control-label" for="color-all">All Color</label>
      <span class="badge border font-weight-normal">1000</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="color-1"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'black'
          })
        "
      />
      <label class="custom-control-label" for="color-1">Black</label>
      <span class="badge border font-weight-normal">150</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="color-2"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'white'
          })
        "
      />
      <label class="custom-control-label" for="color-2">White</label>
      <span class="badge border font-weight-normal">295</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="color-3"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'red'
          })
        "
      />
      <label class="custom-control-label" for="color-3">Red</label>
      <span class="badge border font-weight-normal">246</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="color-4"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'blue'
          })
        "
      />
      <label class="custom-control-label" for="color-4">Blue</label>
      <span class="badge border font-weight-normal">145</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="color-5"
        (change)="
          changeColorFilters.emit({
            event: $event,
            color: 'green'
          })
        "
      />
      <label class="custom-control-label" for="color-5">Green</label>
      <span class="badge border font-weight-normal">168</span>
    </div>
  </form>
</div>
<!-- Color End -->

<!-- Size Start -->
<h5 class="section-title position-relative text-uppercase mb-3">
  <span class="bg-secondary pr-3">Filter by size</span>
</h5>
<div class="bg-light p-4 mb-30">
  <form>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        checked
        id="size-all"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 'all'
          })
        "
      />
      <label class="custom-control-label" for="size-all">All Size</label>
      <span class="badge border font-weight-normal">1000</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="size-1"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 'xs'
          })
        "
      />
      <label class="custom-control-label" for="size-1">XS</label>
      <span class="badge border font-weight-normal">150</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="size-2"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 's'
          })
        "
      />
      <label class="custom-control-label" for="size-2">S</label>
      <span class="badge border font-weight-normal">295</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="size-3"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 'm'
          })
        "
      />
      <label class="custom-control-label" for="size-3">M</label>
      <span class="badge border font-weight-normal">246</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="size-4"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 'l'
          })
        "
      />
      <label class="custom-control-label" for="size-4">L</label>
      <span class="badge border font-weight-normal">145</span>
    </div>
    <div
      class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="size-5"
        (change)="
          changeSizeFilters.emit({
            event: $event,
            size: 'xl'
          })
        "
      />
      <label class="custom-control-label" for="size-5">XL</label>
      <span class="badge border font-weight-normal">168</span>
    </div>
  </form>
</div>
<!-- Size End -->
