<div class="container my-5 col-lg-4 col-md-8 col-sm-12">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="my-5"><br /></div>
    <div class="my-3 input-group">
      <label class="input-group-text w-25" for="email">Email</label>
      <input
        class="form-control input-group-append"
        placeholder="Enter your email"
        formControlName="email"
        type="email"
      />
    </div>
    <div class="my-3 input-group">
      <label class="input-group-text w-25" for="password">Password</label>
      <input
        class="form-control input-group-append"
        placeholder="Enter your password"
        formControlName="password"
        type="password"
      />
    </div>
    <div class="my-5 row justify-content-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
    <div
      *ngIf="loginForm.controls['email']?.errors?.['required']"
      class="row justify-content-center text-danger"
    >
      Email cannot be empty
    </div>
    <div
      *ngIf="loginForm.controls['email']?.errors?.['email']"
      class="row justify-content-center text-danger"
    >
      Email must have a correct format
    </div>
    <div
      *ngIf="loginForm.controls['password']?.errors?.['required']"
      class="row justify-content-center text-danger"
    >
      Password cannot be empty
    </div>
    <div
      *ngIf="loginForm.controls['password']?.errors?.['minlength']"
      class="row justify-content-center text-danger"
    >
      Password length must be more than 6 characters
    </div>
    <div *ngIf="!loginForm.controls['email']?.errors"><br /></div>
    <div *ngIf="!loginForm.controls['password']?.errors"><br /></div>
  </form>
  <div class="my-5 row justify-content-center">
    <div class="btn text-dark disabled">Don't have an account?</div>
    <div class="btn btn-info" routerLink="/register">Register now!</div>
  </div>
</div>
