<td class="align-middle">
  <img
    [src]="itemData.product.imageUrl"
    [alt]="itemData.product.name"
    style="width: 50px"
  />
  {{ itemData.product.name }}
</td>
<td class="align-middle">{{ itemData.product.dprice | currency }}</td>
<td class="align-middle">
  <div class="input-group quantity mx-auto" style="width: 100px">
    <div class="input-group-btn">
      <button
        class="btn btn-sm btn-primary btn-minus"
        (click)="decQuantity.emit(itemData.product)"
      >
        <i class="fa fa-minus"></i>
      </button>
    </div>
    <input
      type="text"
      class="form-control form-control-sm bg-secondary border-0 text-center"
      [value]="itemData.quantity"
    />
    <div class="input-group-btn">
      <button
        class="btn btn-sm btn-primary btn-plus"
        (click)="incQuantity.emit(itemData.product)"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</td>
<td class="align-middle">
  {{ itemData.product.dprice * itemData.quantity | currency }}
</td>
<td class="align-middle">
  <button
    class="btn btn-sm btn-danger"
    (click)="delProduct.emit(itemData.product)"
  >
    <i class="fa fa-times"></i>
  </button>
</td>
